<div class="d-none d-xl-block col-xl-3 right-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card rounded">
        <div class="card-body">
          <h6 class="card-title">Follow Users</h6>
          <% @users.each do |user|%>
            <% if !@current_user.following?(user) %>
              <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                <div class="d-flex align-items-center hover-pointer">
                  <% if user.image? %>
                    <%= image_tag user.image_url, class: "img-responsive", height: "50", alt: "profile pic" %>
                  <% else %>
                    <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                  <% end %>
                  <div class="ml-2">
                    <p><%= link_to user do %><%= user.name ? user.name : user.email %><% end %></p>
                  </div>
                </div>
                <div id="follow_form">
                  <% if @current_user.following?(user) %>
                    <%= form_with(model: @current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }, local: true) do |f| %>
                      <%= button_tag type: 'submit', class: "btn text-danger btn-icon", title: "UnFollow" do %>
                        unfollow
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_with(model: @current_user.active_relationships.build, local: true) do |f| %>
                      <div><%= hidden_field_tag :followed_id, user.id %></div>
                      <%= button_tag type: 'submit', class: "btn btn-icon text-success", title: "Follow" do %>
                        follow
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 grid-margin">
      <div class="card rounded">
        <div class="card-body">
          <h6 class="card-title">Follow Article Topics</h6>
          <% @article_categories.each do |acategory| %>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <div class="ml-2">
                  <p><%= link_to acategory.name, acategory %></p>
                </div>
              </div>
              <% if @current_user %>
                <div id="follow_form">
                  <% if @current_user.subscribed_to_article?(acategory) %>
                    <%= form_with(model: @current_user.articles_following.find_by(followed_id: acategory.id),
             html: { method: :delete }, local: false) do |f| %>
                      <%= render "articles/unfollow"%>
                    <% end %>
                  <% else %>
                    <%= form_with(model: @current_user.articles_following.build, local: false) do |f| %>
                      <div><%= hidden_field_tag :followed_id, acategory.id %></div>
                      <%= render "articles/follow"%>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 grid-margin">
      <div class="card rounded">
        <div class="card-body">
          <h6 class="card-title">Follow Question Topics</h6>
          <% @question_categories.each do |qcategory| %>
            <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
              <div class="d-flex align-items-center hover-pointer">
                <div class="ml-2">
                  <p><%= link_to qcategory.name, qcategory %></p>
                </div>
              </div>
              <% if @current_user %>
                <div id="follow_form">
                  <% if @current_user.subscribed_to_article?(qcategory) %>
                    <%= form_with(model: @current_user.articles_following.find_by(followed_id: qcategory.id),
             html: { method: :delete }, local: false) do |f| %>
                      <%= render "articles/unfollow"%>
                    <% end %>
                  <% else %>
                    <%= form_with(model: @current_user.articles_following.build, local: false) do |f| %>
                      <div><%= hidden_field_tag :followed_id, qcategory.id %></div>
                      <%= render "articles/follow"%>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
