  <% @user.feed.each do |answer|%>
  <div class="col-md-12 grid-margin">
    <div class="card rounded">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
            <div class="ml-2">
              <p><%= answer.user.name %></p>
              <p class="tx-11 text-muted"><%= time_ago_in_words(answer.created_at) %> ago</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="mb-3 tx-14"><%= answer.question.title if answer.question %></p>
        <p class="mb-3 tx-14"><%= answer.title %></p>
      </div>
    </div>
  </div>
<% end %>
